@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

.qora {
    width: 100%;
    height: 1000vh;
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 100000;
}

.baner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    height: 369px;
    border-radius: 41px;
    background: #FFCB13;
    position: relative;
    overflow: hidden;
    margin-top: 12%;
    z-index: 1;
    cursor: pointer;
}

.c-h {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.piz1 {
    position: absolute;
    bottom: 0;
    right: 2rem;
}

.piz2 {
    position: absolute;
    right: 0;
    top: 0;
}

.dum .ip {
    position: absolute; 
    left: 30%;
    z-index: 10;
}

.k-dum {
    position: absolute;
    bottom: -20%;
    left: 4%;
    width: 186px;
    height: 186px;
    background: #FFF;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 68px rgba(0, 0, 0, 0.25));
}

.dum {
    position: absolute;
    bottom: -10rem;
    left: -7rem;
    width: 485px;
    height: 485px;
    border-radius: 485px;
    background: #FFCB13;
    box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.25);
}

.orta  {
    position: absolute;
    top: 1rem;
    left: 30%;
    z-index: 100;
    text-align: center;
}

.orta span {
    color: #E93333;
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.orta p {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.orta p {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dale {
    position: absolute;
    bottom: -4rem;
    right: -2rem;
    width: 186px;
    height: 186px;
    background: #FFF;
    filter: drop-shadow(0px 4px 68px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    z-index: 1;
}

.icc {
    position: absolute;
    font-size: 3.5rem;
    right: 40%;
    bottom: 50%;
    z-index: 100;
}

.progg {
    width: 40%;
    position: absolute;
    bottom: 2rem;
    left: 35%;
    flex-wrap: wrap;
}

.progg img{
    /* padding-left: 10px;  */
    margin: 5px;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} 

.zakaz {
    margin-top: 4rem;
}

.zakaz .z-h01 {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 3rem;
}

.k-zakaz {
    width: 100%;
    max-width: 1200px   ;
    height: 588px;
    background: #F6F6F6;
    border-radius: 41px;
    border: 1px solid #000;
    padding: 1rem;
}

.big-z {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
}

.k-zakaz .k-p {
    color: #939393;
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.k-zakaz .min-z1,
.min-z2, .min-z3{
    position: relative;
    padding-top: 1rem;
    text-align: center;
    margin-right: 3rem;
    width: 240px;
    height: 200px;
    border-radius: 41px;
    background: #FFF;
    cursor: pointer;
}

.min-check {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 30px;
    height: 30px;
    background: #FFCB13;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chek,.chek1, 
.chek2, .chek3 {
    display: none;
    font-size: 20px;
}

.k-zakaz .min-z4 {
    position: relative; 
    padding-top: 4rem;
    text-align: center;
    margin-left: 1rem;
    width: 210px;
    height: 200px;
    border-radius: 41px;
    cursor: pointer;
    background: linear-gradient(139deg, #000 3.64%, #757575 93.2%);
}

.k-zakaz .min-z4 h1 {
    color: #FFF;
    text-align: center;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.k-zakaz .min-z4 p {
    color: #C3C3C3;
    text-align: center;
    font-family: Gilroy;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.z-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.z-btn1 {
    width: 117px;
    height: 44px;
    border-radius: 9px;
    border: 1px solid #E93333;
}

.z-btn1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E93333;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.z-btn2 {
    width: 117px;
    height: 44px;
    border-radius: 9px;
    background:#E93333;
    border: none;
}

.b-i1 {
    margin-right: 3px;
}

.b-i2 {
    margin-left: 4px;
}

.z-btn2 a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.b-rage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
}

.rage-p p span{
    color: #939393;
    text-align: right;
    font-family: Montserrat Alternates;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.rage-p p {
    color: #939393;
font-family: Montserrat Alternates;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.z-rage {
    max-width: 1000px;
    width: 100%;
    height: 10px;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.07);
}

.k-rage {
    width: 167px;
    height: 10px;
    background: #FFCB13;
    border-radius: 10px;
}

.h-service {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.r-cards {
    position: relative;
    margin-bottom: 5rem;
    width: 400px;
}

.s-left {
    margin-top: 10rem;
    margin-right: 5rem;
}

.mf-cards {
    width: 100%;
}

.s-right {
    margin-top: 7rem;
}

.l-cards, .l-cards1 {
    position: relative;
    margin-top: 5rem;
    width: 400px;
}

.l-cards, .l-cards1 span {
    color: #E93333;
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.l-cards, .l-cards1 .span-p {
    color: #686868;
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.r-cards span {
    color: #E93333;
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.r-cards .span-p {
    color: #686868;
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.r-big-p {
    color: #6D6D6D;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 1rem;
}

.l-big-p {
    color: #6D6D6D;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 1rem;
}

.hd-info {
    position: absolute;
    top: 5.7rem;
    margin-top: 2rem;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    height: 330px;
    border-radius: 41px;
    background: #FFCB13;
}

.t {
    position: absolute;
    top: 1rem;
    right: 0;
    display: block;
}

.t-p {
    color: rgba(0, 0, 0, 0.80);
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 164%;
    margin-bottom: 1rem;
}

.t-katap {
    width: 500px;
    color: rgba(0, 0, 0, 0.80);
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 1rem;
}

.hd-left {
    background: url(../backgray.svg), lightgray 50% / cover no-repeat;
    position: absolute;
    box-shadow: 0px 4px 69px 0px rgba(0, 0, 0, 0.25);
    left: -40%;
    width: 831px;
    height: 554px;
}

.hd-more {
    align-items: center;
    color: rgba(0, 0, 0, 0.80);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 164%;
    cursor: pointer;
}

.hl-p {
    position: absolute;
    top: 10%;
    right: 5rem;
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
    line-height: 93.4%;
    z-index: 1000;
    mix-blend-mode: overlay;
}

.kamaz {
    position: absolute;
    bottom: -2rem;
    z-index: 10000;
    width: 250px;
    height: 200px;
}

.h-part {
    padding-top: 10rem;
    max-width: 1200px;
    width: 100%;
    background: #FFF;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pa {
    color: #000;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}

.part-info {
    display: flex;
    max-width: 865px;
    width: 100%;
    height: 240px;
    padding: 1rem 1rem;
    border-radius: 19px;
    margin-bottom: 2rem;
    background: #FAFAFA;
}

.star-d img {
    width: 79px;
    height: 15px;
}

.gg2 {
    margin-top: 2px;
    margin-left: 1.2rem;
    width: 54px;
    height: 17px;
}

.blogo3 {
    margin-top: 2px;
    margin-left: 1.2rem;
    width: 54px;
    height: 17px;
}

.star-d {
    display: flex;
    align-items: center;
    color: #000;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 164%;
}

.part-imges {
    padding: 5px 1rem;
    width: 133px;
    height: 56px;
    margin: 10px;
    border-radius: 6px;
    margin-right: 2rem;
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
}

.part-uzun {
    width: 603px;
    height: 124px;
    color: #737373;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164%; /* 26.24px */
}

.s-hesht {
    margin-top: 1rem;
}

.heshteg {
    color: #E93333;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 164%
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background: #F6F6F6;
}

.main-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.bir-kic {
    color: #737373;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 164%; /* 26.24px */
    margin-left: 1rem;
}

.mr-h1 {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.bir-bow {
    margin-left: 1rem;
    color: #000;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.bir-divs {
    padding: 2rem 1rem;
    display: flex;
    width: 700px;
    height: 190px;
    border-radius: 41px;
    border: 6px solid #FFF;
    margin-bottom: 1rem;
    transform: translateY();
}

.btns1 {
    display: inline-flex;
    padding: 13px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 41px;
    background: #FFCB13;
    border: none;
    color: #000;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 0.7rem;
    cursor: pointer;
}

.btns2 {
    display: inline-flex;
    padding: 13px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 41px;
    background: #EBEBEB;
    border: none;
    color: #000;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}



.mf-h1 {
    color: #000;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mf-h1 span{
    color: #FFCB13;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mf-two {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.ip2 {
    width: 250px;
    height: 350px;
}

.main-footer {
    margin-top: 7rem;
}

.mf-right {
    width: 640px;
    height: 400px;
    padding: 0.4rem 0.5rem;
    overflow: scroll;
    overflow-x: hidden;
    border-bottom: 1px solid #b3aeae;
}

.mf-box {
    display: inline-flex;
    justify-content: center;
    padding: 7px 15px;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: #FFCB13;
    color: #000;
    text-align: center;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1rem;
}

.mf-box1 {
    display: inline-flex;
    padding: 7px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: linear-gradient(99deg, #000 -0.06%, #5B5B5B 83.37%);
    color: #FFF;
    text-align: center;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1rem;
}

.mf-p {
    color: #737373;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145.5%; /* 23.28px */
    margin-bottom: 1rem;
}

/* width */
.main-footer ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
.main-footer ::-webkit-scrollbar-track {
    background: #EDEDED;
  }
  
  /* Handle */
.main-footer  ::-webkit-scrollbar-thumb {
    background: #FFCB13;
    border-radius: 10px;
  }
  
.main-end-p a{
    color: #E93333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-bottom: 2px solid #E93333;
    padding-bottom: 0.5rem;
}

.main-end {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.main-e-prog {
    margin-top: 5rem;
}

.main-e-prog img {
    cursor: pointer;
    margin-left: 1rem;
    border-radius: 5px;
}

.main-e-prog img:hover {
    background-color: rgb(255, 244, 244);
}

.main-end-p {
    margin-bottom: 1rem;
}

.homiy-imegs {
    width: 15%;
    margin: 1rem;
    cursor: pointer;
}














/* media css */

@media(max-width: 1208px) {
    .k-zakaz .min-z4 {
        position: relative;
        padding-top: 3rem;
        text-align: center;
        margin-left: 1rem;
        border-radius: 41px;
        cursor: pointer;
        margin-top: 1rem;
        background: linear-gradient(139deg, #000 3.64%, #757575 93.2%);
    }

    .z-btns {
        display: flex;
        justify-content: space-between;
        margin-top: .5rem;
    }
    
    .z-btn1 {
        width: 110px;
        height: 44px;
        border-radius: 9px;
        border: 1px solid #E93333;
    }
    
    .z-btn1 a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #E93333;
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .z-btn2 {
        width: 110px;
        height: 44px;
        border-radius: 9px;
        background:#E93333;
    }

    .b-rage {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }
    
    .rage-p p span{
        color: #939393;
        text-align: right;
        font-family: Montserrat Alternates;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    .rage-p p {
        color: #939393;
    font-family: Montserrat Alternates;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 1rem;
    }
    
    .z-rage {
        max-width: 1000px;
        width: 80%;
        height: 10px;
        background: #FFF;
        border-radius: 10px;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.07);
    }
    
    .k-rage {
        width: 160px;
        height: 10px;
        background: #FFCB13;
        border-radius: 10px;
    }
}

@media(max-width:1100px) {
    .baner {
        position: relative;
        width: 95%;
        height: 300px;
        z-index: 1;
    }

    .orta h1 span{
        color: #E93333;
        font-family: Montserrat Alternates;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .orta h1 span{
        font-family: Montserrat Alternates;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .orta p {
        color: #000;
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .progg img {
        display: none;
    }

    .k-dum {
        display: none;
    }

    .dale {
        display: none;
    }

    .piz1 {
        position: absolute;
        right: 0;
        top: 25%;
        width: 207px;
        height: 211px;
        z-index: 1000;
    }

    .dum .ip {
        position: absolute;
        left: 15%;
        bottom: 33%;
        width: 298px;
    }

    .z-h01 {
        font-size: 25px;
    }

    .big-z {
        display: flex;
        justify-content: center;
    }

    .k-zakaz .min-z1,
    .min-z2, .min-z3{
    position: relative;
    padding-top: 1rem;
    text-align: center;
    margin: 0.5rem;
    width: 190px;
    height: 170px;
    border-radius: 41px;
    background: #FFF;
    cursor: pointer;
    }

    .min-bet {
        width: 90px;
    }
    
    .min-cem, .min-qum {
        width: 150px;
    }

    .min-check {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 25px;
    height: 25px;
    background: #FFCB13;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .chek,.chek1, 
    .chek2, .chek3 {
    display: none;
    font-size: 18px;
    }

.k-zakaz .min-z4 {
    position: relative;
    padding-top: 3rem;
    text-align: center;
    margin-left: 1rem;
    width: 190px;
    height: 170px;
    border-radius: 41px;
    cursor: pointer;
    background: linear-gradient(139deg, #000 3.64%, #757575 93.2%);
}

.k-zakaz .min-z4 h1 {
    color: #FFF;
    text-align: center;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.k-zakaz .min-z4 p {
    color: #C3C3C3;
    text-align: center;
    font-family: Gilroy;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.k-zakaz {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 490px;
    background: #F6F6F6;
    border-radius: 41px;
    border: 1px solid #000;
    padding: 1rem;
}

.z-btns {
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
}

.z-btn1 {
    width: 110px;
    height: 44px;
    border-radius: 9px;
    border: 1px solid #E93333;
}

.z-btn1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E93333;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.z-btn2 {
    width: 110px;
    height: 44px;
    border-radius: 9px;
    background:#E93333;
    border: none;
}

.b-i1 {
    margin-right: 3px;
}

.b-i2 {
    margin-left: 4px;
}

.z-btn2 a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.b-rage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}

.rage-p p span{
    color: #939393;
    text-align: right;
    font-family: Montserrat Alternates;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.rage-p p {
    color: #939393;
font-family: Montserrat Alternates;
font-size: 21px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-right: 1rem;
}

.z-rage {
    max-width: 1000px;
    width: 80%;
    height: 10px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.07);
}

.k-rage {
    width: 167px;
    height: 10px;
    background: #FFCB13;
    border-radius: 10px;
}

.logo2 {
    display: none;
}


}

@media(max-width:915px) {
    .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .header {
        width: 100%;
    }
    .h-service {
        display: block;
    }
    

    .hd-left {
        position: absolute;
        left: -50%  ;
        top: 0;
    }

    .t {
        width: 250px;
        margin-right: 10rem;
    }

    .l-cards {
        display: none;
    }

    .r-cards {
        position: relative;
        left: 5%;
        top: -4rem;
    }

    .k-zakaz {
        position: relative;
        width: 100%;
        max-width: 1200px;
        height: 530px;
        background: #F6F6F6;
        border-radius: 41px;
        border: 1px solid #000;
        padding: 1rem;
    }

    .b-rage {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
    }

    .z-btn1 {
        width: 90px;
        height: 40px;
        border-radius: 9px;
        border: 1px solid #E93333;
    }
    
    .z-btn1 a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #E93333;
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .z-btn2 {
        width: 90px;
        height: 40px;
        border-radius: 9px;
        background:#E93333;
        border: none;
    }

    .part-info, .part-text {
        padding: 1rem;
    }

    .part-text part-uzun{
        width: 100%;
    }
}

@media(max-width: 768px) {
    .baner {
        position: relative;
        width: 95%;
        height: 300px;
        z-index: 1;
    }

    .part-uzun {
        width: 100%;
        color: #737373;
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 164%; /* 26.24px */
    }

    .part-info {
        display: flex;
        width: 100%;
        height: 230px;
        padding: 1rem 0.5rem;
        border-radius: 19px;
        margin-bottom: 2rem;
        background: #FAFAFA;
    }

    .orta h1 span{
        color: #E93333;
        font-family: Montserrat Alternates;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .orta h1{
        font-family: Montserrat Alternates;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .orta p {
        color: #000;
        font-family: Gilroy;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .progg img {
        display: none;
    }

    .k-dum {
        display: none;
    }

    .dale {
        width: 150px;
        height: 150px;
        display: flex;
        z-index: 1000;
    }

    .piz1 {
        position: absolute;
        right: 0;
        bottom: -10rem;
        width: 200px;
        height: 200px;
        z-index: 1000;
    }

    .dum .ip {
        position: absolute;
        left: 20%;
        bottom: 33%;
        width: 250px;
    }

    .zakaz .z-h01 {
        color: #000;
        font-family: Montserrat Alternates;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 3rem;
    }

    .zakaz .z-h01 img{
        width: 45px;
    }

    .main-header {
        width: 100%;
    }

    .mh-left img {
        width: 350px;
    }

    .mh-right {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .bir-divs {
        width: 100%;
    }

    .mr-h1 {
        font-size: 35px;
    }

    .ip2 {
        width: 200px;
        height: 250px;
    }

    .mf-right {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 1rem;
    }

    .mf-cards {
        width: 100%;
    }

    .hd-left {
        display: none;
    }
    
}

@media(max-width:458px) {

    .baner {
        position: relative;
        width: 95%;
        height: 250px;
        z-index: 1;
    }

    .l-cards, .r-cards {
        display: none;
    }

    .l-cards1 img {
        width: 150px;
    }


    .t-katap {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        color: rgba(0, 0, 0, 0.80);
        font-family: Gilroy;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
    }

    .part-uzun {
        width: 100%;
        color: #737373;
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 164%; /* 26.24px */
    }
    

    .part-info {
        display: block;
        width: 100%;
        height: 230px;
        padding: 1rem 0.5rem;
        border-radius: 19px;
        margin-bottom: 2rem;
        background: #FAFAFA;
    }

    .l-cards1 {
        position: relative;
        margin-top: 5rem;
        left: 3rem;
        width: 300px;
    }
    
    .l-cards1 span {
        color: #E93333;
        font-family: Montserrat Alternates;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .l-cards1 .span-p {
        color: #686868;
        font-family: Montserrat Alternates;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    

    .orta h1 span{
        color: #E93333;
        font-family: Montserrat Alternates;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .orta h1{
        font-family: Montserrat Alternates;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .orta p {
        color: #000;
        font-family: Gilroy;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .progg img {
        display: none;
    }

    .k-dum {
        display: none;
    }

    .dale {
        display: none;
    }

    .piz1 {
display: none;
    }


    .dum .ip {
        position: absolute;
        left: 20%;
        bottom: 33%;
        width: 200px;
    }

    .k-zakaz .min-z1,
    .min-z2, .min-z3{
    display: flex;
    align-items: center;
    position: relative;
    padding: 1rem;
    text-align: center;
    margin: 0.5rem;
    width: 90%;
    height: 60px;
    border-radius: 10px;
    background: #FFF;
    cursor: pointer;
    }

    .min-bet {
        width: 50px;
        margin-right: 1rem;
    }
    
    .min-cem, .min-qum {
        width: 60px;
        margin-right: 1rem;
    }

    .min-check {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 15px;
    height: 15px;
    background: #FFCB13;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .chek,.chek1, 
    .chek2, .chek3 {
    display: none;
    font-size: 18px;
    }

.k-zakaz .min-z4 {
    position: relative;
    padding-top: 0.4rem;
    text-align: center;
    margin-left: 0;
    width: 90%;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(139deg, #000 3.64%, #757575 93.2%);
}

.k-zakaz .min-z4 h1 {
    color: #FFF;
    margin-top: 0.5rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.k-zakaz .min-z4 p {
    display: none;
}

.k-zakaz {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 490px;
    background: #F6F6F6;
    border-radius: 41px;
    border: 1px solid #000;
    padding: 1rem;
}

.z-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.z-btn1 {
    width: 90px;
    height: 40px;
    border-radius: 9px;
    border: 1px solid #E93333;
}

.z-btn1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E93333;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.z-btn2 {
    width: 90px;
    height: 40px;
    border-radius: 9px;
    background:#E93333;
    border: none;
}

.b-rage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.rage-p p span{
    color: #939393;
    text-align: right;
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.rage-p p {
    color: #939393;
font-family: Montserrat Alternates;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-right: 1rem;
}

.z-rage {
    max-width: 1000px;
    width: 80%;
    height: 10px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.07);
}

.k-rage {
    width: 50px;
    height: 10px;
    background: #FFCB13;
    border-radius: 10px;
}

}


/* @media(max-width: 320px) {

    .baner {
        position: relative;
        width: 100%;
        height: 530px;
    }

    .orta h1 span{
        color: #E93333;
        font-family: Montserrat Alternates;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .orta h1 span{
        font-family: Montserrat Alternates;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .orta p {
        color: #000;
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .progg img {
        display: none;
    }

    .k-dum {
        display: none;
    }

    .dale {
        display: none;
    }

    .piz1 {
        position: absolute;
        right: 0;
        top: 25%;
        width: 207px;
        height: 211px;
        z-index: 1000;
    }

    .dum .ip {
        position: absolute;
        left: 15%;
        bottom: 33%;
        width: 298px;
    }
} */


/* @media(max-width: 1100px) {
    .container {
        display: block;
        padding: 20px;
    }

    .min-z1 {
        width: 100%;
        height: 40px;
    }

    .k-zakaz {
        width: 90%;
        height: 400px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 12px;
        border: 1px solid black;
        background: #F1F1F1;
    }

    .big-z {
        width: 90vw;
        display: flex;
        flex-wrap: wrap;
    }

    .header {
        padding: 10px;
    }

    .baner {
        position: relative;
        width: 100%;
        height: 300px;
        z-index: 1;
    }

    .orta h1 span{
        color: #E93333;
        font-family: Montserrat Alternates;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .orta h1 span{
        font-family: Montserrat Alternates;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .orta p {
        color: #000;
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .progg img {
        display: none;
    }

    .k-dum {
        display: none;
    }

    .dale {
        display: none;
    }

    .piz1 {
        position: absolute;
        right: 0;
        top: 25%;
        width: 207px;
        height: 211px;
        z-index: 1000;
    }

    .dum .ip {
        position: absolute;
        left: 15%;
        bottom: 33%;
        width: 298px;
    }
    
    .k-zakaz .k-p {
        color: #939393;
        font-family: Montserrat Alternates;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    .k-zakaz .min-z1,
    .min-z2, .min-z3{
        padding-top: 1rem;
        text-align: center;
        margin-right: 3rem;
        width: 200px;
        height: 180px;
        border-radius: 41px;
        background: #FFF;
    }
    
    .k-zakaz .min-z4 {
        padding-top: 4rem;
        text-align: center;
        margin-left: 1rem;
        width: 210px;
        height: 200px;
        border-radius: 41px;
        background: linear-gradient(139deg, #000 3.64%, #757575 93.2%);
    }
    
    .k-zakaz .min-z4 h1 {
        color: #FFF;
        text-align: center;
        font-family: Gilroy;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    .k-zakaz .min-z4 p {
        color: #C3C3C3;
        text-align: center;
        font-family: Gilroy;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .z-btns {
        display: flex;
        justify-content: space-between;
        margin-top: 5%;
    }
    
    .z-btn1 {
        width: 117px;
        height: 44px;
        border-radius: 9px;
        border: 1px solid #E93333;
    }
    
    .z-btn1 a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #E93333;
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .z-btn2 {
        width: 117px;
        height: 44px;
        border-radius: 9px;
        background:#E93333;
        border: none;
    }
    
    .b-i1 {
        margin-right: 3px;
    }
    
    .b-i2 {
        margin-left: 4px;
    }

    .k-zakaz {
        width: 100%;
        height: 200px;
        background: #F6F6F6;
        border-radius: 41px;
        border: none;
        padding: 2rem;
    }
    
    .z-btn2 a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    .z-rage {
        margin-top: 14%;
        width: 1029px;
        height: 10px;
        background: #FFF;
        box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.07);
    }
    
    .k-rage {
        width: 167px;
        height: 10px;
        background: #FFCB13;
        border-top-left-radius: 10px;
        border-bottom-left-radius   : 10px;
    }
} */
.yellow{
    color: yellow;
}
.black{
    color: gray;
}