* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    scroll-behavior: smooth;
}

.baner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 369px;
    border-radius: 41px;
    background: #FFCB13;
    position: relative;
    overflow: hidden;
    margin-top: 12%;
    z-index: -1;
}

.piz1 {
    position: absolute;
    bottom: 0;
    right: 2rem;
}

.piz2 {
    position: absolute;
    right: 0;
    top: 0;
}

.dum .ip {
    position: absolute; 
    left: 30%;
    z-index: 10;
}

.k-dum {
    position: absolute;
    bottom: -20%;
    left: 4%;
    width: 186px;
    height: 186px;
    background: #FFF;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 68px rgba(0, 0, 0, 0.25));
}

.dum {
    position: absolute;
    bottom: -10rem;
    left: -7rem;
    width: 485px;
    height: 485px;
    border-radius: 485px;
    background: #FFCB13;
    box-shadow: 0px 4px 68px 0px rgba(0, 0, 0, 0.25);
}

.orta  {
    position: absolute;
    top: 1rem;
    left: 30%;
    z-index: 100;
    text-align: center;
}

.orta span {
    color: #E93333;
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.orta p {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.orta p {
    color: #000;
    text-align: center;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.dale {
    position: absolute;
    bottom: -4rem;
    right: -2rem;
    width: 186px;
    height: 186px;
    background: #FFF;
    filter: drop-shadow(0px 4px 68px rgba(0, 0, 0, 0.25));
    border-radius: 50%;
    z-index: 1;
}

.icc {
    position: absolute;
    font-size: 3.5rem;
    right: 40%;
    bottom: 50%;
    z-index: 100;
}

.progg {
    width: 40%;
    position: absolute;
    bottom: 0;
    left: 35%;
    flex-wrap: wrap;
}

.progg img{
    /* padding-left: 10px;  */
    margin: 5px;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} 

.zakaz {
    margin-top: 4rem;
}

.zakaz .z-h01 {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 3rem;
}

.k-zakaz {
    width: 1200px;
    height: 588px;
    background: #F6F6F6;
    border-radius: 41px;
    border: 1px solid #000;
    padding: 2rem;
}

.big-z {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.k-zakaz .k-p {
    color: #939393;
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.k-zakaz .min-z1,
.min-z2, .min-z3{
    padding-top: 1rem;
    text-align: center;
    margin-right: 3rem;
    width: 240px;
    height: 200px;
    border-radius: 41px;
    background: #FFF;
}

.k-zakaz .min-z4 {
    padding-top: 4rem;
    text-align: center;
    margin-left: 1rem;
    width: 210px;
    height: 200px;
    border-radius: 41px;
    background: linear-gradient(139deg, #000 3.64%, #757575 93.2%);
}

.k-zakaz .min-z4 h1 {
    color: #FFF;
    text-align: center;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.k-zakaz .min-z4 p {
    color: #C3C3C3;
    text-align: center;
    font-family: Gilroy;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.z-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.z-btn1 {
    width: 117px;
    height: 44px;
    border-radius: 9px;
    border: 1px solid #E93333;
}

.z-btn1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E93333;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.z-btn2 {
    width: 117px;
    height: 44px;
    border-radius: 9px;
    background:#E93333;
    border: none;
}

.b-i1 {
    margin-right: 3px;
}

.b-i2 {
    margin-left: 4px;
}

.z-btn2 a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.z-rage {
    margin-top: 14%;
    width: 1029px;
    height: 10px;
    background: #FFF;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.07);
}

.k-rage {
    width: 167px;
    height: 10px;
    background: #FFCB13;
    border-top-left-radius: 10px;
    border-bottom-left-radius   : 10px;
}















/* media css */

@media(max-width: 320px) {
    .container {
        display: block;
        overflow-x: hidden;
        padding: 10px;
    }

    .baner {
        position: relative;
        width: 100%;
        height: 530px;
    }

    .orta h1 span{
        color: #E93333;
        font-family: Montserrat Alternates;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .orta h1 span{
        font-family: Montserrat Alternates;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .orta p {
        color: #000;
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .progg img {
        display: none;
    }

    .k-dum {
        display: none;
    }

    .dale {
        display: none;
    }

    .piz1 {
        position: absolute;
        right: 0;
        top: 25%;
        width: 207px;
        height: 211px;
        z-index: 1000;
    }

    .dum .ip {
        position: absolute;
        left: 15%;
        bottom: 33%;
        width: 298px;
    }
}

@media(max-width: 1100px) {
    .container {
        display: block;
        overflow-x: hidden;
        padding: 10px;
    }

    .baner {
        position: relative;
        width: 100%;
        height: 530px;
    }

    .orta h1 span{
        color: #E93333;
        font-family: Montserrat Alternates;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .orta h1 span{
        font-family: Montserrat Alternates;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .orta p {
        color: #000;
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .progg img {
        display: none;
    }

    .k-dum {
        display: none;
    }

    .dale {
        display: none;
    }

    .piz1 {
        position: absolute;
        right: 0;
        top: 25%;
        width: 207px;
        height: 211px;
        z-index: 1000;
    }

    .dum .ip {
        position: absolute;
        left: 15%;
        bottom: 33%;
        width: 298px;
    }
}

@media(max-width:775px) {
    .container {
        overflow-x: hidden;
    }

    .baner {
        width: 95%;
    }
    .big-z {
        display: block;
        flex-wrap: wrap;
    }

    .min-z1 {
        width: 90%;
        height: 30px;
    }
}