* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

.news-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem;
    width: 100%;
}

.news-header {
    margin-top: 10%;
}

.nh-h01 {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nh-h01 img {
    margin-right: 1rem;
}

.nr-content {
    display: flex;
    border-radius: 41px;
    min-height: 369px;
    background-color: #fff;
    margin-top: 2rem;
}

.nh-right {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.news-p {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.nr-p {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 3rem;
}

.stat-a {
    color: #E93333;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 167%; /* 26.72px */
}

.news-swiper1 {
    margin-top: 3rem;
}

.swiper1-h1 {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.swip1-imges {
    margin-top: 3rem;
    display: flex;
}

.swiper-ic {
    position: absolute;
    right: 2.7rem;
    top: 1.4rem;
}

.swp-left-img, .swp-right-img {
    position: relative;
    width: 100%;
    max-width: 600px;
    min-height: 369px;
    overflow: hidden;
    border-radius: 41px;
    cursor: pointer;
}

.swp-right-img {
    margin-left: 2rem;
}

.swip1-imges img {
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.46) 100%);
}

.swiper-text {
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

.swiper-p {
    position: absolute;
    bottom: 4rem;
    left: 2rem;
    color: #FFF;
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.swp-img-dale {
    display: flex;
    justify-content: center;
    font-size: 38px;
    position: absolute;
    bottom: -2.5rem;
    right: -1.5rem;
    width: 119px;
    height: 119px;
    background: #fff;
    border-radius: 50%;
}

.news-main {
    margin-top: 3rem;
    display: flex;
}

.nw-left {
    margin-left: 5rem;
    position: relative;
}


.nw-left-card img {
    width: 100%;
    max-width: 511px;
    height: 600px;
    min-height: 300px;
    border-radius: 41px;
}

.nw-left-h1 {
    width: 360px;
    position: absolute;
    top: 30%;
    left: -5rem;
}

.nwl-p {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
}

.nwl-h1 {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.nw-right {
    margin: 1rem;
}

.nw-cards {
    position: relative;
    width: 100%;
    max-width: 630px;
    height: 120px;
    padding: 1rem;
    margin-top: 4rem;
    /* border-bottom: 1px solid #D8D8D8; */
}

.nw-h01 {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1rem;
}

.nw-p {
    width: 100%;
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 144%; /* 0px */
    margin-bottom: 1rem;
}

.nw-cards-ic {
    position: absolute;
    top: 2rem;
    right: 0;
    color: #E93333;
    font-size: 23px;
    stroke-width: 1px;
}

.nf-yellow {
    position: absolute;
    left: -100px;
    bottom: -8rem;
    width: 784px;
    height: 294.454px;
    transform: rotate(13.827deg);
    flex-shrink: 0;
    border-radius: 41px;
    background: #FFCB13;
}

.swt-p {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    bottom: 7rem;
    left: 2rem;
}

.swt-p1 {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    bottom: 4rem;
    left: 2rem;
}

.nf-header {
    margin-top: 3rem;
    display: flex;
    align-items: center;
}

.nfh-h01 {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 1rem;
}

.startt {
    width: 50px;
    height: 20px;
}
.news-container .mySwiper{
    width: 1200px;
    height: 400px;
}
.for_swiper_img{
    height: 250px;
    width: 100%;
    display: flex;
    justify-self: center;
    align-items: center;
    overflow: hidden;
}
.for_swiper_img img{
    height: 100%;
}

















/* media style */


@media(max-width:1100px) {
    .news-container {
        width: 100%;
        padding: 1rem;
    }

    .swiper-p {
        position: absolute;
        bottom: 0rem;
        left: 2rem;
        color: #FFF;
        font-family: Montserrat Alternates;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    .swp-img-dale {
        display: flex;
        justify-content: center;
        font-size: 38px;
        position: absolute;
        bottom: -2.5rem;
        right: -1.5rem;
        width: 119px;
        height: 119px;
        background: #fff;
        border-radius: 50%;
    } 
}

@media(max-width:1030px) {
    .news-min-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .nr-content {
        width: 80%;
        display: block;
    }

    .nh-right {
        text-align: center;
        width: 95%;
        margin-left: 0;
        margin-right: 0;
    }

    .nh-left img {
        width: 100%;
    }

    .news-p {
        color: #000;
        font-family: Montserrat Alternates;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }
    
    .nr-p {
        color: #000;
        font-family: Montserrat Alternates;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 3rem;
    }
    
    .stat-a {
        color: #E93333;
        font-family: Montserrat Alternates;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 167%; /* 26.72px */
    }

    .news-main {
        display: block;
    }
}

@media(max-width:800px) {
    .news-container {
        display: block;
        width: 100%;
        padding: 1rem;
    }

    .nr-content {
        width: 95%;
        display: block;
        border-top-right-radius: 50%;
    }

    .nh-h01 {
        color: #000;
        font-family: Montserrat Alternates;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    .nh-h01 img {
        width: 46px;
        margin-right: 0.5rem;
    }

    .news-p {
        color: #000;
        font-family: Montserrat Alternates;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .nw-left-h1 {
        display: none;
    }
    
    .nr-p {
        color: #000;
        font-family: Montserrat Alternates;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 3rem;
    }
    
    .stat-a {
        color: #E93333;
        font-family: Montserrat Alternates;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 167%; /* 26.72px */
    }

    .nh-h01 {
        font-size: 20px;
    }
}

@media (max-width:750px) {
    .swiper1-h1 {
        font-size: 30px;
    }

    .swp-right-img {
        display: none;
    }


    .swp-right-img img {
        width: 100%;
        height: 100%;
    }
}

@media(max-width: 650px) {
    .news-min-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .nr-content {
        width: 90%;
        display: block;
    }

    .nh-right {
        text-align: center;
        width: 95%;
        margin-left: 0;
        margin-right: 0;
    }

    .swp-right-img {
        display: none;
    }

    .news-p {
        color: #000;
        font-family: Montserrat Alternates;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }
    
    .nr-p {
        color: #000;
        font-family: Montserrat Alternates;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 3rem;
    }
    
    .stat-a {
        color: #E93333;
        font-family: Montserrat Alternates;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 167%; /* 26.72px */
    }
}
