* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

.part-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    z-index: -10;
}

.part-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    margin-top: 15%;
}

.r-part-input {
    width: 100%;
    max-width: 481px;
    min-height: 581px;
    flex-shrink: 0;
    border-radius: 41px;
    background: #FFF;
    padding: 2rem;
}

.r-part-input input {
    width: 100%;
    height: 60px;
    border-radius: 12px;
    border: 1px solid #E7E7E7;
    padding-left: 1rem;
    margin-top: 1rem;
    color: #979797;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.send-btn {
    width: 100%;
    display: inline-flex;
    height: 60px;
    padding: 20px 98px 20px 96px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    background: #FFCB13;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
    transition: .5s;
}

.send-btn:hover {
    background: #ffcc13a9;
}

.send-btn p {
    color: #000;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
} 

.lpart-p {
    width: 100%;
    max-width: 470px;
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.lpart-ho1 {
    width: 100%;
    max-width: 519px;
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 2rem;
}

.part-img-div {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #EEE;
}

.part-img-two {
    width: 500px;
    height: 200px;
    display: flex;
    position: relative;
    margin-top: 3rem;
    margin-left: 2rem;
}

.part-hand{
    position: absolute;
    top: -2rem;
    left: 3rem;
}

.strelka { 
    position: absolute;
    right: -1rem;
    width: 170px;
    height: 70px;
}

.part-main {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.part-box {
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 873px;
    height: 173px;
    border-radius: 41px;
    background: #FFCB13;
    position: relative;
    z-index: 1;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.pb-imh {
    position: absolute;
    top: -5rem;
    left: -10rem;
    width: 390px;
    height: 390px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #FFF;
}

.pb-p {
    width: 100%;
    max-width: 538px;
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 153.4%; /* 24.544px */
}

.pb-right {
    margin-left: 5rem;
}

.part-img-three {
    display: none;
}

.pm-text {
    text-align: center;
}

.pm-p {
    color: #000;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0.5rem;
}

.pm-h01 {
    color: #000;
    text-align: center;
    font-family: Montserrat Alternates;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pm-box {
    display: flex;
    flex-wrap: wrap;
}

.pm-cards {
    width: 218px;
    height: 125px;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-top: 3rem;
}   

.pmb-min {
    width: 45px;
    height: 45px;
    border-radius: 11px;
    background: #FFCB13;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.pmb-min p {
    color: #FFF;
    font-family: Montserrat Alternates;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.pmc-p {
    color: #757575;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
}

.part-main-end {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4%;
}

@media(max-width:1100px) {
    .part-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:1055px) {
    .part-header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .lpart-ho1 {
        font-size: 35px;
        margin-top: 0.5rem;
    }

    .lpart-p {
        font-size: 20px;
    }

    .part-img-three {
        display: block;
        position: relative;
        right: 1rem;
        margin-bottom: 4rem;
    }
    .part-img-divs {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #EEE;
        position: absolute;
        right: 45%;
        top: -3rem;
    }
    
    .part-hands{
        width: 170px;
        position: absolute;
        top: -4rem;
        right: 30%;
    }
    
    .strelkas { 
        position: absolute;
        left: 0rem;
        top: 0;
        width: 90px;
        height: 50px;
        transform: rotate(140deg);
        stroke-width: 3px;
    }

    .part-img-two {
        display: none;
    }

    .lpart-ho1 {
        margin-bottom: 2rem;
    }
}

@media (max-width: 750px) {
    .part-header {
        margin-top: 20%;
    }
}

@media (max-width: 401px) {
    .part-header {
        margin-top: 30%;
    }

    .part-img-three {
        display: block;
        position: relative;
        right: 1rem;
        margin-bottom: 4rem;
    }
    .part-img-divs {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background: #EEE;
        position: absolute;
        right: 40%;
        top: -3rem;
    }
    
    .part-hands{
        width: 150px;
        position: absolute;
        top: -4rem;
        right: 15%;
    }
    
    .strelkas { 
        position: absolute;
        left: 5%;
        top: -1rem;
        width: 70px;
        height: 30px;
        transform: rotate(120deg);
        stroke-width: 3px;
    }

    .part-img-two {
        display: none;
    }

    .lpart-p {
        font-size: 15px;
    }

    .lpart-ho1 {
        font-size: 25px;
        margin-bottom: 2rem;
    }

    .r-part-input {
        padding: 1rem;
    }
    
    .r-part-input input {
        font-size: 15px;
    }

    .send-btn p{
        font-size: 15px;
    }
}